<p *ngIf="localStoreItem">{{ localStoreItem | json }}!</p>

<div class="store-item">

    <div class="img-block">
        <img src="assets/images/store/termos.png" alt="termos">
    </div>

    <h3 class="title">Название товара</h3>
    <h3 class="title">Удобный (краткое описание)</h3>

    <p class="steps">1500 шагов</p>

    <div class="btn-block">
        <ion-button 
            class="button" 
            expand="block" 
            style="font-size: 18px; --background: #0361aa; --color: #fff;"
        >Обменять</ion-button>
    </div>

</div>