<app-header [title]="'Групповой лидерборд'"></app-header>

<ion-content fullscreen class="dark-container">
    <ion-grid class="container-grid">
      
        <ion-row justify-content-center align-items-center>
            <ion-col size="12" ion-text-center>
                
                <div class="container">
                    
                    <ion-item class='header'>
                        <div class="img-block">
                            <img src="assets/images/group-leaderboard/web-rf.png" alt="web-rf">
                        </div>
                        
                        <ion-label class='label'>Название платформы</ion-label>
                    </ion-item>

                    <div class="table">
                        <div class="table-header">
                            <div class="table-row">
                                <div class="table-header-label">ДЗ</div>
                                <div class="table-header-label">Шаги</div>
                                <div class="table-header-label">Баллы</div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="table-body-row">
                                <div class="table-label">Команда 1</div>
                                <div class="table-label table-label-primary">7 из 30</div>
                                <div class="table-label table-label-primary">58982456</div>
                                <div class="table-label table-label-primary">582456</div>
                            </div>
                            <div class="table-body-row">
                                <div class="table-label">Команда 2</div>
                                <div class="table-label table-label-primary">5 из 30</div>
                                <div class="table-label table-label-primary">5898245</div>
                                <div class="table-label table-label-primary">58245</div>
                            </div>
                            <div class="table-body-row">
                                <div class="table-label">Команда 3</div>
                                <div class="table-label table-label-primary">3 из 30</div>
                                <div class="table-label table-label-primary">589824</div>
                                <div class="table-label table-label-primary">5824</div>
                            </div>
                        </div>
                    </div>
                    
                    <ion-item class='header'>
                        <div class="img-block">
                            <img src="assets/images/group-leaderboard/web-rf.png" alt="web-rf">
                        </div>
                        
                        <ion-label class='label'>Название платформы</ion-label>
                    </ion-item>

                    <div class="table">
                        <div class="table-header">
                            <div class="table-row">
                                <div class="table-header-label">ДЗ</div>
                                <div class="table-header-label">Шаги</div>
                                <div class="table-header-label">Баллы</div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="table-body-row">
                                <div class="table-label">Команда 1</div>
                                <div class="table-label table-label-primary">7 из 30</div>
                                <div class="table-label table-label-primary">58982456</div>
                                <div class="table-label table-label-primary">582456</div>
                            </div>
                            <div class="table-body-row">
                                <div class="table-label">Команда 2</div>
                                <div class="table-label table-label-primary">5 из 30</div>
                                <div class="table-label table-label-primary">5898245</div>
                                <div class="table-label table-label-primary">58245</div>
                            </div>
                            <div class="table-body-row">
                                <div class="table-label">Команда 3</div>
                                <div class="table-label table-label-primary">3 из 30</div>
                                <div class="table-label table-label-primary">589824</div>
                                <div class="table-label table-label-primary">5824</div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>