<app-header [title]="'Индивидуальный лидерборд'"></app-header>

<ion-content fullscreen class="dark-container">
    <ion-grid class="container-grid">
      
        <ion-row justify-content-center align-items-center>
            <ion-col size="12" ion-text-center>
                
                <div class="container">
                    
                    <ion-item class='header'>
                        <div class="img-block">
                            <img src="assets/images/group-leaderboard/web-rf.png" alt="web-rf">
                        </div>
                        
                        <ion-label class='label'>Название платформы</ion-label>
                    </ion-item>
 
                </div>
                
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>