<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      
      <ion-col size="12" ion-text-center>

        <ion-slides pager="true" [options]="slideOpts">

          <ion-slide>
            <div class="slide-inner">
              <!-- <app-ad -->
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide-inner">2</div>
          </ion-slide>

          <ion-slide>
            <div class="slide-inner">3</div>
          </ion-slide>

        </ion-slides>

      </ion-col>


    <!-- <ion-slides pager="true" [options]="slideOpts">

        <ion-slide>
          <div class="slide">
            <img src="https://github.com/ionic-team/ionic-docs/blob/master/src/demos/api/slides/slide-1.png?raw=true"/>
            <h2>Welcome</h2>
            <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="https://github.com/ionic-team/ionic-docs/blob/master/src/demos/api/slides/slide-2.png?raw=true"/>
          <h2>What is Ionic?</h2>
          <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
        </ion-slide>

        <ion-slide>
          <img src="https://github.com/ionic-team/ionic-docs/blob/master/src/demos/api/slides/slide-3.png?raw=true"/>
          <h2>What is Ionic Appflow?</h2>
          <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
        </ion-slide>

    </ion-slides> -->
    </ion-row>
  </ion-grid>
</ion-content>