<ion-content fullscreen scroll-y="false" class="content">
  <ion-grid style="height: 100%">
    
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col size="12" ion-text-center>

        <ion-slides pager="true" [options]="slideOpts" class="slider" #slider>

          <ion-slide *ngFor="let item of slides; let i = index">

            <!-- <ng-container *ngIf="item.id === slides[0].id">
              <ion-thumbnail class="img-block" (click)="slideToNextAdvice()">
                <img src="assets/images/advice/arrow.png" alt="arrow">
              </ion-thumbnail>
            </ng-container> -->

            <!-- <ng-container *ngIf="item.id === slides[1].id">
              <ion-thumbnail class="img-block" (click)="slideToNextAdvice()">
                <img src="assets/images/advice/arrow.png" alt="arrow">
              </ion-thumbnail>
            </ng-container> -->

            <app-advice 
              [id]="item.id" 
              [titleCount]="item.title" 
              [description]="item.advice"
              (toNextSlides)="slideToNextAdvice($event)"
            ></app-advice>
          </ion-slide>
          
        </ion-slides>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>