.menu {
    --width: 100%;
    --max-width: 100%;
    --background: #ececec;
    color: #1a5ea9;

    &-list {
        padding: 20px;
        padding-top: 0;
    }

    &-item {
        --border-color: #939598;
        --inner-padding-start: 5px;
        --color: #0361aa;
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 16px;
    }

    &-header {
        text-align: center;
        padding: 20px 20px 0;

        &-content {
            border-bottom: 1px solid #939598;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .arrow-back {
                width: 25px;
            }

            .menu-button {
                font-size: 38px;
                position: relative;
                left: 10px;            
            }
        }

        &-title {
            color: #0361aa;
            text-transform: uppercase;
            font-family: 'OpenSans-SemiBold', sans-serif;
            margin: 0;
            font-size: 18px;
        }
    }
    
}

