<app-header [title]="'Командные новости'"></app-header>

<ion-content fullscreen class="dark-container">
    <ion-grid class="container-grid">
      
        <ion-row justify-content-center align-items-center>
            <ion-col size="12" ion-text-center>
                
                <div class="container" style="height: 100%;">
                    <div class="lesson-header">

                        <div class="title-block">
                            <h5 class="sub-title">Урок 4</h5>
                    
                            <div class="lesson-img"> 
                                <img src="assets/images/food-program/web-rf.png" alt="web-rf">
                            </div>
                        </div>
                        <p class="lesson-title">Оценка состояния питания</p>
                    
                        <ion-thumbnail class="player">
                            <img src="assets/images/food-program/player.png" alt="player">
                        </ion-thumbnail>
                    
                        <ion-item class="task-title">
                            <ion-label class="task-label">Задание</ion-label>
                        </ion-item>
                    
                    </div>
                    
                    <div class="lesson">
                        <h6 class="lesson-sub-title">
                            Прикрепить фото Вашей тарелки с едой, которую собираетесь съесть на обед.
                        </h6>
                    </div>
                    
                    <div class="btn-block">
                        <ion-button 
                            class="button" 
                            expand="block" 
                            style="font-size: 18px; --background: #0361aa; --color: #fff;"
                        >Применить</ion-button>
                    </div>
                    
                </div>
                
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>