<app-header [title]="'Командные новости'"></app-header>

<ion-content fullscreen class="dark-container">
    <ion-grid class="container-grid">
      
        <ion-row justify-content-center align-items-center>
            <ion-col size="12" ion-text-center>
                
                <div class="container" style="height: 100%;">
                    <ion-select class="select" value="dog" selectedText="Выберите программу / место публикации">
                        <ion-select-option value="cat">Cat</ion-select-option>
                        <ion-select-option value="dog">Dog</ion-select-option>
                    </ion-select>

                    <div class="news-block">
                        <ion-input type="text" class="input" placeholder="Поделись новостью"></ion-input>
                        
                        <div class="widget-block">
                            <div class="images-block">
                                <div class="image">
                                    <img src="assets/images/team-news/camera.png" alt="camera">
                                </div>
                                <div class="image">
                                    <img src="assets/images/team-news/youtube.png" alt="youtube">
                                </div>
                                <div class="image">
                                    <img src="assets/images/team-news/sound.png" alt="sound">
                                </div>
                                <div class="image">
                                    <img src="assets/images/team-news/file.png" alt="file">
                                </div>
                            </div>

                            <ion-button 
                                size="small"
                                class="public-button"
                            >Опубликовать</ion-button>
                        </div>

                    </div>

                    <div class="news-content">
                        <h6 class="sub-title">Команда 1</h6>
                        <h3 class="title">Название программы</h3>

                        <p class="desc">Тут текст новости, например</p>
                        <p class="desc">Вот еще классное видео упражнений на пресс</p>

                        <ion-thumbnail class="player">
                            <img src="assets/images/food-program/player.png" alt="player">
                        </ion-thumbnail>

                        <h6 class="sub-title">Команда 1</h6>
                        <h3 class="title">Название программы</h3>
                        
                        <p class="desc">Тут текст новости, например</p>
                        <p class="desc">Вот еще классное видео упражнений на пресс</p>

                        <a href="javascript:void(0);" class="link">PDF. Основы здорового питания.pdf</a>
                    
                    </div>
                </div>
                
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>