.container {
    .qa {
        &-label {
            font-size: 18px;
            font-family: 'OpenSans-Light', sans-serif;
        }

        &-img {
            margin-right: 25px;
        }
    }
}