<div class="lesson-header">

    <div class="title-block">
        <h5 class="sub-title">Урок 5</h5>

        <div class="lesson-img"> 
            <img src="assets/images/food-program/web-rf.png" alt="web-rf">
        </div>
    </div>
    <p class="lesson-title">Оценка состояния питания</p>

    <ion-thumbnail class="player">
        <img src="assets/images/food-program/player.png" alt="player">
    </ion-thumbnail>

    <ion-item class="task-title">
        <ion-label class="task-label">Задание</ion-label>
    </ion-item>

</div>

