.list {
    &-sub-title {
        color: #0360aa;
        font-size: 10px;
        font-family: 'OpenSans-Regular', sans-serif;
        margin-bottom: 10px;
    }

    &-label {
        font-size: 18px;
        font-family: 'OpenSans-Light', sans-serif;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        white-space: normal;
    }

    &-img {
        margin-right: 25px;
    }

    &-link {
        display: block;
        font-size: 9px;
        font-family: 'OpenSans-Regular', sans-serif;
        margin-top: 5px;
    }
}